@import "../utils/variables.scss";

.analiticas-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

button {
    text-decoration: none;
    cursor: pointer;
    background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;

}

    &>.breadcrum {
        margin-left: 1%;
        align-self: flex-start;
    }

    &>.analiticas-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &>h1 {
            font-size: 1.8rem;
        }

        &>.machines-type {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2%;

            &>span {
                margin-left: 15px;
                margin-right: 15px;
                font-size: 1.5rem;
            }

            &>a {
                text-decoration: none;
                font-weight: bold;
                color: $color-primario;
            }

            &>a:hover {
                border-bottom: 2px solid #B4E501;
            }
        }
        &>.graph-container {
            margin-left: 190px;
            display: flex;
            width: 100%;
            gap: 20px;

            &>.ventas-graphic {
                width: 60%;
                margin-left: 8%;
                padding: 1%;
                border-radius: 8px;
                background: #FFF;
                box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16), 0px 3px 6px 0px rgba(0, 0, 0, 0.23);
            }
    
            &>.products-container {
                width: 304px;
                height: 703px;
                flex-shrink: 0;
                border-radius: 8px;
                background: var(--Royal-Purple-50, #F3EDF8);
                box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
            }
        }

       
    }


}