@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.main-auth-container {
    @include auth;
}

.login-container {
    max-width: 471.56px;
}

#volver-button {
    margin-top: 1.5vh;
    max-width: 370p;

}
#volver-button a {
    color: white;
    text-decoration: none;
}

