@mixin for-phone-only {
    @media (max-width: 600px) { @content; }
  }
@mixin for-phone-tablet-only {
    @media (max-width: 999px) { @content; }
  }
@mixin for-desktop {
    @media (min-width: 999px) { @content; }
  }
@mixin auth {
    @include for-desktop {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        min-height: 100vh;
    
            & > .left-container {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-primario;
            min-height: 100vh;
            background-image: url('/assets/lazo-bakery.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
    
            & > .logo-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
    
                & > #main-logo {
                    width: 56%;
                    margin-bottom: 5vh;
                    margin-right: 13%;
                }
    
                & > #text-logo {
                    width: 60%;
                    margin-right: 13%;
                }
            }
            }
    
            & > .right-container {
            width: 50%;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            & > .content-container {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                & > h1 {
                    color: $color-primario;
                    font-family: 'TT Trailers Trial';
                    font-size: 6rem;
                    margin: 0;
                }
    
                & > div {
                    display: flex;
                    flex-direction: column;
                    padding: 2%;
                    width: 81%;
                    margin-top: 6vh;
    
                    & > label {
                        font-weight: bold;
                        align-self: flex-start;
                        margin-bottom: 1.2vh;
                        font-size: 1.2rem;
                    }
    
                    & > input {
                        padding: 4%;
                        border: 2px solid $color-neutro1;
                        border-radius: 5px;
                        font-size: 1.2rem;
                        margin-bottom: 3.5vh;
                    }

                    & > input:hover {
                        border: 2px solid $color-primario;
                    }

                    & > input:focus {
                        outline: none;
                    }
                    
                    & > a {
                        text-decoration: none;
                        color: $color-neutro1;
                        font-weight: bold;
                        font-size: 1.2rem;
                        align-self: flex-end;
                        margin: 1.5vh 2vh 2.5vh 0vh;
                    }

                    & > a:active {
                        color: $color-primario;
                    }
    
                    & > a:hover {
                        text-decoration: underline;
                    }
    
                    & > button {
                        background-color: $color-boton;
                        color: white;
                        font-weight: 600;
                        font-size: 1.3rem;
                        border: none;
                        border-radius: 30px;
                        padding-top: 1.5vh;
                        padding-bottom: 1.5vh;
                        cursor: pointer;
                    }

                    & > button:hover {
                        background-color: $color-boton-hover;
                    }

                    & > button:active {
                        background-color: $color-boton-active;
                    }
                }
            }
        }
    }

    @include for-phone-tablet-only {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 100vh;
    
            & > .left-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-primario;
            background-image: url('/assets/lazo-bakery-horizontal.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
    
            & > .logo-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding-bottom: 10%;
                padding-top: 5%;
                width: 100%;
    
                & > #main-logo {
                    width: 20%;
                }
    
                & > #text-logo {
                    width: 40%;
                    margin-bottom: 5vw;
                }
            }
            }
    
            & > .right-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            & > .content-container {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                & > h1 {
                    color: $color-primario;
                    font-family: 'TT Trailers Trial';
                    font-size: 6rem;
                    margin: 0;
                }
    
                & > div {
                    display: flex;
                    flex-direction: column;
                    padding: 2%;
                    width: 81%;
                    margin-top: 2vh;
    
                    & > label {
                        font-weight: bold;
                        align-self: flex-start;
                        margin-bottom: 1.2vh;
                        font-size: 1.2rem;
                    }
    
                    & > input {
                        padding: 4%;
                        border: 2px solid $color-neutro1;
                        border-radius: 5px;
                        font-size: 1.2rem;
                        margin-bottom: 3.5vh;
                    }

                    & > input:hover {
                        border: 2px solid $color-primario;
                    }

                    & > input:focus {
                        outline: none;
                    }
                    
                    & > a {
                        text-decoration: none;
                        color: $color-neutro1;
                        font-weight: bold;
                        font-size: 1.2rem;
                        align-self: flex-end;
                        margin: 1.5vh 2vh 2.5vh 0vh;
                    }

                    & > a:active {
                        color: $color-primario;
                    }
    
                    & > a:hover {
                        text-decoration: underline;
                    }
    
                    & > button {
                        background-color: $color-boton;
                        color: white;
                        font-weight: 600;
                        font-size: 1.3rem;
                        border: none;
                        border-radius: 30px;
                        padding-top: 1.5vh;
                        padding-bottom: 1.5vh;
                        cursor: pointer;
                    }

                    & > button:hover {
                        background-color: $color-boton-hover;
                    }

                    & > button:active {
                        background-color: $color-boton-active;
                    }
                }
            }
        }
    }

    @include for-phone-only() {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 100vh;
    
            & > .left-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-primario;
            background-image: url('/assets/lazo-bakery-horizontal.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
    
            & > .logo-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding-bottom: 10%;
                padding-top: 5%;
                width: 100%;
    
                & > #main-logo {
                    width: 20%;
                }
    
                & > #text-logo {
                    width: 40%;
                    margin-bottom: 5vw;
                }
            }
            }
    
            & > .right-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            & > .content-container {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                & > h1 {
                    color: $color-primario;
                    font-family: 'TT Trailers Trial';
                    font-size: 15vw;
                    margin: 0;
                }
    
                & > div {
                    display: flex;
                    flex-direction: column;
                    padding: 2%;
                    width: 81%;
                    margin-top: 4vw;
    
                    & > label {
                        font-weight: bold;
                        align-self: flex-start;
                        margin-bottom: 2.1vw;
                        font-size: 4vw;
                    }
    
                    & > input {
                        padding: 4%;
                        border: 2px solid $color-neutro1;
                        border-radius: 5px;
                        font-size: 4vw;
                        margin-bottom: 7.5vw;
                    }

                    & > input:hover {
                        border: 2px solid $color-primario;
                    }

                    & > input:focus {
                        outline: none;
                    }
                    
                    & > a {
                        text-decoration: none;
                        color: $color-neutro1;
                        font-weight: bold;
                        font-size: 4vw;
                        align-self: flex-end;
                        margin: 3vw 4vw 5vw 0vh;
                    }

                    & > a:active {
                        color: $color-primario;
                    }
    
                    & > a:hover {
                        text-decoration: underline;
                    }
    
                    & > button {
                        background-color: $color-boton;
                        color: white;
                        font-weight: 600;
                        font-size: 4.1vw;
                        border: none;
                        border-radius: 30px;
                        padding-top: 3.5vw;
                        padding-bottom: 3.5vw;
                        cursor: pointer;
                    }

                    & > button:hover {
                        background-color: $color-boton-hover;
                    }

                    & > button:active {
                        background-color: $color-boton-active;
                    }
                }
            }
        }
    }
}